
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 styles">
        <h1 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top px-4">Dashboard</h1>
        <div class="px-4 pb-5">
       <img src="/assets/images/fullcalender.png">
        
        
        
        </div>
      </main>
 
  