<main role="main" class="col-md-9 ml-sm-auto col-lg-10 styles">
        <h1 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top px-4">Bus Details</h1>
        <div class="px-4 pb-5">
<div class="row mt-2">
    <div class="col-md-2">
        <label style="color:#4caf50">Route.No :</label>
    </div>
    <div class="col-md-4">
            <input type="text" style="width:90%">

    </div>
    <div class="col-md-2">
            <label style="color:#4caf50">Bus Number :</label>
        </div>
        <div class="col-md-4">
                <input type="text" style="width:90%">
    
        </div>
</div>
<div class="row mt-2">
        <div class="col-md-2">
            <label style="color:#4caf50">Bus Incharge :</label>
        </div>
        <div class="col-md-4">
                <input type="text" style="width:90%">
    
        </div>
        <div class="col-md-2">
                <label style="color:#4caf50">Conductor Number :</label>
            </div>
            <div class="col-md-4">
                    <input type="text" style="width:90%">
        
            </div>
    </div>
    <div class="row  mt-2">
            <div class="col-md-2">
                <label style="color:#4caf50">Arrival time :</label>
            </div>
            <div class="col-md-4">
                    <input type="text" style="width:90%">
        
            </div>
            <div class="col-md-2">
                    <label style="color:#4caf50">Depature time :</label>
                </div>
                <div class="col-md-4">
                        <input type="text" style="width:90%">
            
                </div>
                   
        </div> 
        <div class="row border-bottom mt-5">
            </div>

            <div class="row  mt-2">
                    <div class="col-md-2">
                        <label style="color:#4caf50">Bus Route :</label>
                        <table>
                                <tr>
                                  <th>Stop</th>
                                  <th>Arrival Time</th>
                                  <th>Departure Time</th>
                                </tr>
                                <tr>
                                  <td>Dilshad garden</td>
                                  <td>8.00 Am</td>
                                  <td>8.05 Am</td>
                                </tr>
                                <tr>
                                  <td>Centro comercial Moctezuma</td>
                                  <td>Francisco Chang</td>
                                  <td>Mexico</td>
                                </tr>
                                <tr>
                                  <td>Ernst Handel</td>
                                  <td>Roland Mendel</td>
                                  <td>Austria</td>
                                </tr>
                                <tr>
                                  <td>Island Trading</td>
                                  <td>Helen Bennett</td>
                                  <td>UK</td>
                                </tr>
                                <tr>
                                  <td>Laughing Bacchus Winecellars</td>
                                  <td>Yoshi Tannamuri</td>
                                  <td>Canada</td>
                                </tr>
                                <tr>
                                  <td>Magazzini Alimentari Riuniti</td>
                                  <td>Giovanni Rovelli</td>
                                  <td>Italy</td>
                                </tr>
                              </table>
                              
                    </div>
            </div>
                
        
</div>
</main>


