<!-- <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </nav>
   -->
   
   <nav class="navbar navbar-dark fixed-top bg-orange flex-md-nowrap p-0 shadow navbar-default">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="javascript:void(0)">
      <img src="assets/images/school.png" width="30" height="30">
      School Erp
    </a>

    <ul class="nav px-3 flex-nowrap align-items-center">  
      <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
          <img src="assets/images/profile.png" id="profileImage-log"
                loadClass="rounded-circle"
               class="rounded-circle" width="30" height="30"></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0)"
             routerLink="/manager/profile">Profile</a>
        
          <a class="dropdown-item" href="javascript:void(0)"
             routerLink="/manager/setting">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void (0)" (click)="logout()">Sign Out</a>
        </div>
      </li>
    </ul>

  </nav>
  