<main role="main" class="col-md-9 ml-sm-auto col-lg-10 styles">
    <h1 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top px-4">Admin <button class="button button1"><i class="fa fa-plus"></i>  Add Faculty</button></h1>
    <div class="px-4 pb-5">
        
            <div class="row">
                    
            </div>
            
                    <div class="table-wrapper">
                            <table class="fl-table">
                                <thead>
                                <tr>
                                    <th>Faculty Name</th>
                                    <th>Specialization</th>
                                    <th>Date of Joining</th>
                                    <th>Employee Id</th>
                                    <th>Age</th>
                                    <th>Marital Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Harsh Gangwar</td>
                                    <td>ios</td>
                                    <td>25th Dec 2019</td>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                    <td>Content 1</td>
                                    <td><button class="btn"><i class="fa fa-edit"></i></button></td>
                                </tr>
                                <tr>
                                    <td>Ayush Saxena</td>
                                    <td>Angular</td>
                                    <td>25th Dec 2019</td>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                    <td>Content 2</td>
                                    <td><button class="btn"><i class="fa fa-edit"></i></button></td>
                                </tr>
                                <tr>
                                    <td>Sumit Malik</td>
                                    <td>Azure</td>
                                    <td>25th Dec 20193</td>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                    <td>Content 3</td>
                                    <td><button class="btn"><i class="fa fa-edit"></i></button></td>
                                </tr>
                                <tr>
                                    <td>Hrshit johari</td>
                                    <td>Python</td>
                                    <td>25th Dec 2019</td>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                    <td>Content 4</td>
                                    <td><button class="btn"><i class="fa fa-edit"></i></button></td>
                                </tr>
                                <tr>
                                    <td>Ashish Saxena</td>
                                    <td>React JS</td>
                                    <td>25th Dec 2019</td>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                    <td>Content 5</td>
                                    <td><button class="btn"><i class="fa fa-edit"></i></button></td>
                                </tr>
                                
                                <tbody>
                            </table>
                        </div>
                    
                    
            
        </div>
        
       
  </main>