<section id="banner" class="backImg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 col-lg-12 col-xs-18">

                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of slidesStore; let ind = index">
                        <ng-template carouselSlide [id]="ind">
                            <div class="position-relative promo-info-wrap">
                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                                <h4 class="promo fa fa-user" (click)="login()">&nbsp; &nbsp;Login</h4>

                                <p class="promo-info">{{slide.title}}</p>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">

    <div class="row mt-5 ml-5">
        <h3> Things We Work On</h3>
    </div>
    <section id="event-category" class="y-padded none mt-5">
        <div class="container-fluid ">
            <owl-carousel-o [options]="custom">
                <ng-container *ngFor="let slide of slider; let ind = index">
                    <ng-template carouselSlide [id]="ind">
                        <div class="position-relative promo-info-wrap category-img">
                            <img [src]="slide.src" class="img-fluid w-100 corner-radius category-img" alt="images">
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
    
     
        </div>
    </section>

</div>

<div class="container">
    <div class="row mt-5 ml-5">
        <h3> Our Team</h3>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/ashish.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Ashish Saxena</h3>
            <h4 class="title">React Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/harshit.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Harshit Johari</h3>
            <h4 class="title">Python Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/harsh.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Harsh Gangwar</h3>
            <h4 class="title">IOS Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/ayush.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Ayush Saxena</h3>
            <h4 class="title">Angular Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="assets/images/sumit.jpg">
          </div>
          <div class="team-content">
            <h3 class="name">Sumit Malik</h3>
            <h4 class="title">Java Developer</h4>
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>