<div class="bg">
  <form [formGroup]="userForm" >
    <div class="body" style="background-color: aquamarine">
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" formControlName="usrName" >
            </div>
          
            <div class="textbox">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password " formControlName="password" >
            </div>
          
            <input type="submit" class="btn" (click)="Login()"value="Sign in">
          </div>
      </div>
    
 </form>
</div>


  

