<div class="sidebar sidebar-main sidebar-default">
  <div class="sidebar-content">
    <div class="sidebar-category sidebar-category-visible">
      <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
          <!-- <li class="navigation-header">
            <span>Main</span>
            <i class="icon-menu" title="" data-original-title="Main pages"></i>
          </li> -->
          <li>
            <a href="">
              <i class="icon-home4"></i>
              <span>DashBoard</span>
            </a>
          </li>
          <li class="">
            <a href="#">
              <i class="icon-stack"></i>
              <span>Academics</span>
            </a>
            <ul>
              <li>
                <a href="">Attendance</a>
              </li>
              <li>
                <a href="">Examination</a>
              </li>
              <li>
                <a href="#">Assignments</a>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="#">
              <i class="icon-stack"></i>
              <span>Mentoring</span>
            </a>
            <ul>
              <li>
                <a href="">Mentor Card</a>
              </li>
              <li>
                <a href="">Fill Activity</a>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="#">
              <i class="icon-stack"></i>
              <span>Accounts</span>
            </a>
            <ul>
              <li>
                <a href="">Fee Reciept</a>
              </li>
              <li>
                <a href="">Fee Letter</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">
              <i class="icon-home4"></i>
              <span>Sports</span>
            </a>
          </li>
          <li>
            <a (click)="BusDetails()">
              <i class="icon-home4"></i>
              <span  >Bus Route</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon-home4"></i>
              <span>Faculty</span>
            </a>
          </li><li>
            <a href="">
              <i class="icon-home4"></i>
              <span>Student</span>
            </a>
          </li>
        </ul>


      </div>
    </div>
  </div>
</div>